.fotos-container {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 40px auto;
    align-items: center;
    
    @include desktop {
        margin-bottom: 40px;
    }

    @include phone {
        display: flex;
        flex-direction: column;
        margin-bottom: 70px;
    }
    
    .parrafo {
        margin: 0 10px 0 10px;
        text-align: justify;
        color: $verde-oscuro;
        font-family: $font-global;
    }
    
    .fotos {
        @include card ;

        @include desktop {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-content: center;
            column-gap: 40px;
            row-gap: 40px;
            margin-top: 40px;
        }

        @include phone {
            display: flex;
            flex-direction: column;
            column-gap: 40px;
            row-gap: 40px;
            margin-top: 40px;
        }
    }
    
    article {
        width: 350px;
        height: 400px;
        text-align: center;
        border-radius: 20px;
        padding: 20px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        background-color: $verde-claro;

        &:hover {
            transform: translateY(-10px); /* Efecto de levantar al pasar el mouse */
            box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* Sombra más suave */
        }

        img {
            width: 300px;
            height: 200px;
        }

        p {
            text-align: center;
            font-style: italic;
            color: $verde-intermedio;
            font-family: $font-global;
        }

        a {
            position: absolute; // Posición absoluta para que se coloque al fondo
            bottom: 10px; // Ajusta la posición vertical
            left: 50%; // Centra horizontalmente
            transform: translateX(-50%); // Centra horizontalmente
            text-decoration: none;
            color: $azul2;
            border-radius: 10px;
            padding: 10px;
            font-weight: bold;
            font-family: $font-global;
        }
    }
    
}