.fotos-container{

    .parrafo {
        margin: 0 10px 0 10px;
        text-align: justify;
    }
    
    .fotos {
        @include card();
    }
    
    article {
        width: 350px;
        height: 400px;
        text-align: center;
    }
    
    article {

        img {
            width: 300px;
            height: 200px;
        }

    }
    
    article{ 

        p {
            text-align: center;
            font-style: italic;
        }

    }
    
    article{ 

        a {
        text-decoration: none;
        color: white;
        background-color: black;
        border-radius: 10px;
        padding: 10px;
        }

    }

}