.index {
    display: grid;
    grid-template-areas: 
    'titulo titulo'
    'carousel carousel'
    'mapa info';
    grid-template-columns: 1fr 1fr;
    align-items: center;
    row-gap: 40px;
    column-gap: 30px;
    margin: 60px 20px;

    @include phone-little {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0px 10px 70px 10px;
    }

    @include phone {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0px 10px 70px 10px;
    }

    .titulo {
        font-family: $font-global;
        font-weight: $max;
        grid-area: titulo;
        text-align: center;
        margin-top: 40px;
        color: $verde-oscuro;
    }

    .carousel {
        grid-area: carousel;
        height: auto;

        @include phone-little {
            width: 100%;
            height: auto;
        }

        @include phone {
            max-width: 100%;
        }
    }
    
    .carousel-inner {
        height: auto;
    
        @include phone {
            height: auto;
        }
    
        @include desktop {
            height: auto;
        }
    }
    
    .carousel-item {
        height: auto;

        @include phone {
            width: 100%;
        }
        
        img {
            max-width: 100%;
            max-height: 700px;
            display: block;
            margin: auto;

            @include phone {
                width: 100%;
                object-fit: fill;
            }
        }
    }
    
    .mapa {
        grid-area: mapa;
        width: 100%;
        justify-self: right;

        @include phone-little {
            height: auto;
        }

        @include phone {
            height: auto;
        }

        @include desktop {
            height: auto;
        }
    }
    
    .info {
        font-family: $font-global;
        grid-area: info;
        justify-self: center;
        
        @include desktop {
            display: flex;
            flex-direction: column;
            justify-self: center;
        }

        li {
            @include phone {
                line-height: 30px;
            }

            .fa-location-dot {
                color: $red;
            }

            .fa-whatsapp {
                color: $verde-claro2;
            }
        }
    }

    ul {

        li{
            list-style: none;
            text-align: center;
            color: $verde-oscuro;
            @include phone {
                line-height: 30px;
            }
        }

    }
}