.nosotras {
    margin-bottom: 70px;

    h1 {
        text-align: center;
        margin: 40px auto;
        font-family: $font-global;
        color: $verde-oscuro;
    }
    
    .perfil-uno {
        display: grid;
        grid-template-columns: 400px auto;
        justify-content: center;
        margin: 40px 20px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        &:hover {
            transform: translateY(-10px); /* Efecto de levantar al pasar el mouse */
            box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* Sombra más suave */
        }

        @include desktop {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            margin-bottom: 70px;
        }

        @include phone {
            margin-bottom: 70px;
        }

    }
    
    .foto {
        width: 100%;
        height: auto;
        max-width: 100%;
        padding: 20px;

        @include desktop {
            margin: 20px auto;
            width: 100%;
            height: auto;
        }
    }
    
    .perfil-dos {
        display: grid;
        grid-template-columns: auto 400px;
        margin: 40px 20px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
            transform: translateY(-10px); /* Efecto de levantar al pasar el mouse */
            box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* Sombra más suave */
        }

        @include desktop {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
        }

    }
    
    p {
        font-family: $font-global;
        color: $verde-oscuro;
        line-height: 50px;
        padding: 20px;
        font-size: 20px;
    }
}