.articles {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin-bottom: 70px;

    @include desktop {
        margin-bottom: 70px;
    }

    @include phone {
        margin-bottom: 70px;
    }

    .titulo {
        font-family: $font-global;
        text-align: center;
        margin-top: 40px;
    }

    .box-articulos {
        @include card;
        
        @include desktop {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-content: center;
            column-gap: 40px;
            row-gap: 40px;
            margin-top: 40px;
            margin-bottom: 40px;
        }

        @include phone {
            display: flex;
            flex-direction: column;
            justify-content: center;
            column-gap: 40px;
            row-gap: 40px;
            margin-top: 40px;
        }

        .articulos {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 20px;
            border: 1px solid teal;
            border-radius: 20px;
            box-shadow: 5px -7px teal;
            width: 350px;
            height: 400px;
            text-align: center;
        }
    }

    img {
        width: 300px;
        height: 200px;
        align-self: center;
    }

    h2 {
        font-family: $font-global;
        margin-bottom: 0px;
    }


    p {
        @extend h2;
        text-align: center;
        font-style: italic;
        margin: 10px auto;
    }

    a {
        text-decoration: none;
        color: white;
        background-color: black;
        border-radius: 10px;
        padding: 10px;
    }
}