.articles {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin-bottom: 70px;

    @include desktop {
        margin-bottom: 70px;
    }

    @include phone {
        margin-bottom: 70px;
    }

    @include phone-little {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .titulo {
        font-family: $font-global;
        text-align: center;
        margin-top: 40px;
        color: $verde-oscuro;
    }

    .box-articulos {
        @include card;

        @include desktop {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-content: center;
            column-gap: 40px;
            row-gap: 40px;
            margin-top: 40px;
            margin-bottom: 40px;
        }

        @include phone {
            display: flex;
            flex-direction: column;
            justify-content: center;
            column-gap: 40px;
            row-gap: 40px;
            margin-top: 40px;
        }

        @include phone-little {
            display: grid;
            grid-template-columns: 1fr;
            justify-content: center;
        }

        .articulos {
            display: grid;
            grid-template-areas:
            'foto'
            'titulo'
            'subtitulo'
            'parrafo'
            'boton';
            grid-template-columns: 1fr;
            align-items: center;
            width: 350px;
            text-align: center;
            border-radius: 20px;
            padding: 20px;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            background-color: $verde-claro;
            /*display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 20px;
            border-radius: 20px;
            width: 350px;
            height: auto;
            text-align: center;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            background-color: $verde-claro;*/

            @include phone-little {
                display: grid;
                grid-template-columns: 1fr;
                width: 100%;
                height: auto;
            }

            h2 {
                grid-area: titulo;
                font-family: $font-global;
                margin-bottom: 0px;
                color: $verde-oscuro;
                width: 100%;
            }
            
            h3 {
                grid-area: subtitulo;
                font-family: $font-global;
                margin-bottom: 0px;
                color: $verde-oscuro;
                width: 100%;
            }
        
        
            p {
                grid-area: parrafo;
                @extend h2;
                text-align: center;
                font-style: italic;
                margin: 10px auto;
                color: $verde-intermedio;
                width: 100%;
            }
        
            a {
                grid-area: boton;
                font-family: $font-global;
                text-decoration: none;
                color: $verde-claro;
                background-color: $azul2;
                border-radius: 10px;
                padding: 10px;
            }

            img {
                grid-area: foto;
                width: 100%;
                @include phone-little {
                    width: 100%;
                    height: auto;
                }
            }
        }

        .articulos:hover {
            transform: translateY(-10px); /* Efecto de levantar al pasar el mouse */
            box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* Sombra más suave */
        }
    }

    img {
        grid-area: foto;
        width: 300px;
        height: 200px;
        align-self: center;
    }

}