@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');

//Fonts
$font-global: 'Playwrite DE Grund', cursive;

//Weigth Fonts
$min: 100;
$mid: 200;
$min-mid: 300;
$max: 400;

//Medias
$phone: 400px;
$tablet: 742px;
$desktop: 1132px;

