@font-face {
    font-family: 'Playwrite DE Grund';
    font-style: normal;
    font-weight: 100 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/playwritedegrund/v4/EJRLQhwoXdccriFurnRxqv-1MFyKy69g9Q.woff2) format('woff2');
}  
//Fonts
$font-global: 'Playwrite DE Grund', cursive;

//Weigth Fonts
$min: 100;
$mid: 200;
$min-mid: 300;
$max: 400;

//Medias
$phone-little: 300px;
$phone: 400px;
$tablet: 742px;
$desktop: 1132px;

//Colors
$verde-claro: #E6FBD1;
$verde-claro2: #25D366;
$verde-intermedio: #545C4C;
$verde-oscuro: #1E3309;
$azul1: #6975A5;
$azul2: #546194;
$red: #ed333b;